<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PEA COVID-19 {% block title_bl %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
{% block body_bl %}
{% endblock %}

<div class="container-fluid" id="footer">
    <p id="credit">
        <small>Created by PEA Innovation Hub<br>MARCH 16 2020</small>
    </p>
</div>


</body>
</html>