{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Caution{% endblock %}
{% block body_bl %}

  <div class="px-0 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="px-0 py-3" id="headerbg">
            <h4 class="py-3 text-center">คําเตือน</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-4 text-center">หลังจากพบแพทย์</h1>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">
            <font color="#F03D3D">หาก คุณติดเชื้อ COVID-19</font>
          </h2>
        </div>
      </div>
      <div class="px-3 py-2 row">
        <div class="col-12">
          <h4 class="text-left"> &nbsp; &nbsp; &nbsp; ให้รีบดําเนินการแจ้งผู้บังคับบัญชาทันที และดําเนินการ ลา COVID-19 ผ่านช่องทาง
            LINE : PEA COVID-19 ทันที</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">
            <font color="#0BB07B">หาก คุณไม่ติดเชื้อ COVID-19</font>
          </h2>
        </div>
      </div>
      <div class="px-3 py-2 row">
        <div class="col-12">
          <h4 class="text-left"> &nbsp; &nbsp; &nbsp; ให้แจ้งผู้บังคับบัญชาทันที และยื่นวันลาในภายหลัง และแนบหลักฐานผลการตรวจ/ใบรับรองแพทย์ <br>
            &nbsp; &nbsp; &nbsp; หากคุณหายจากอาการป่วย หรือสามารถ ปฎิบัติงาน ได้ตามปกติ ให้คุณดําเนินการเข้าร่วม โครงการ Work From Home ในกรอบเวลา 14 วัน ผ่านช่องทาง LINE : PEA COVID-19 ทั้ง 2 กรณี</h4>
        </div>
      </div>
    </div>
  </div>
  <form method="POST">
    {% csrf_token %}
  <div class="pt-4 pb-5">
    <div class="px-5 container">
      <div class="row">
        <div class="col-12 text-center"><input id="submit" class="w-50 btn" type="submit" value="ยืนยัน"></div>
      </div>
    </div>
  </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

{% endblock %}