{% extends 'base.html' %}
{% load static %}


{% block title_bl %} Challenge{% endblock %}
{% block body_bl %}


    <div class="container" id="heading">
        <div class="px-5 pt-5 mt-5 row">
            <div class="col-sm-12">
                <label for="the_question">
                    <h3 id="app">PEA COVID-19 <br>Daily Chalenge</h3>
                </label>
                <img src="{% static 'images/yellowlady.png' %}" alt="yellowlady" id="yellowlady">
                <label for=""> Day1 </label>
            </div>
        </div><br>
        <form method="POST">
                {% csrf_token %}

            <div class="card">
                <div class="card-header">
                    เมื่อสัมผัสสิ่งของ เพื่อป้องกัน COVID-19 คุณควรทำอย่างไร
                </div>

                <div class="card-body" >
                    <div class="row justify-content-start">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="A">
                        <label class="custom-control-label" for="customRadio2">คำตอบ A </label>
                    </div>
                    </div><br>
                    <div class="row justify-content-start">
                     <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="B">
                        <label class="custom-control-label" for="customRadio2">คำตอบ B</label>
                     </div>
                    </div><br>
                    <div class="row justify-content-start">

                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="C">
                        <label class="custom-control-label" for="customRadio2">คำตอบ C</label>
                      </div>
                    </div>
                </div>
            <br><button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br>
              </div>
    <br>


        </form>
        <input id="lat" name="latitude" hidden="true">
        <input id="lng" name="longitude" hidden="true">
    </div>


   <script>
    document.onload = getLocation();
    var checkinForm = document.getElementById("checkin");
    var statusInput = document.getElementById("status");
    var latInput = document.getElementById("lat");
    var lngInput = document.getElementById("lng");

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        statusInput.innerHTML = "เกิดข้อผิดพลาดกรุณาลองใหม่อีกครั้ง";
      }
    }
    function showPosition(position) {
        console.log(position.coords.latitude);
        console.log(position.coords.longitude);
        latInput.value = position.coords.latitude;
        lngInput.value = position.coords.longitude;
        checkinForm.submit();
    }
    </script>

{% endblock %}



