{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Choosewfh{% endblock %}
{% block body_bl %}

  <div class="px-0 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="px-0 py-3" id="headerbg">
            <h4 class="py-3 text-center">คุณเลือกปฏิบัติงาน<br></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="pt-5 display-4 text-center" id="choose">ทำงานที่บ้าน</h1>
          <h3 class="pt-0 pb-3 text-center">( Work from home )</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="headtc">รายละเอียดและเงื่อนไข</h4>
          <h6 class="qq">พนักงานที่มีความประสงค์เข้าร่วมโครงการ <br> Work from home จะต้องปฏิบัติตามเงื่อนไขตามที่ <br> PEA กำหนดอย่างเคร่งครัดดังต่อไปนี้</h6>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="headtc">สิ่งที่ต้องมี</h4>
          <h6 class="qq">1.ข้อมูลสำคัญที่ใช้ในการปฏิบัติงานของแต่ละหน่วยงาน <br>
            2.คอมพิวเตอร์ส่วนตัว/แท็บเล็ต (PC/Notebook/Tablet) <br> พร้อมโปรแกรมพื้นฐานที่จำเป็นต้องใช้งาน
          </h6>
          <hr>
        </div>
      </div>
    </div>
  </div>
  
  <form method="POST">
    {% csrf_token %}
    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="question">คำถามข้อที่ 1</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="qq">ท่านมีไข้ ใช่หรือไม่<br>(กรณีมีไข้คือวัดอุณหภูมิแล้วสูงกว่า 37.5 องศา)</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="px-4 mx-2 col-1"></div>
          <div class="col-4 text-center">
            <input class="w-100 btn" type="button" id="ansy" name="ansy" value="ใช่">
          </div>
          <div class="col-1"></div>
          <div class="col-4 text-center">
            <input class="w-100 btn" type="button" id="ansn" name="ansn" value="ไม่ใช่">
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
    <div class="pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="question">คำถามข้อที่ 2</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="qq">ท่านมีอาการดังต่อไปนี้หรือไม่</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="px-1 py-1" id="checks">
      <div class="container">
        <div class="px-4 row">
          <div class="col-12 col-2">
            <input type="checkbox" id="cough" name="cough" value="cough">
            <label for="cough"> &nbsp; ไอ</label><br>
            <hr id="hrcheckbox">
          </div>
          <div class="col-12 col-2">
            <input type="checkbox" id="throatache" name="throatache" value="throatache">
            <label for="throatache"> &nbsp; เจ็บคอ</label><br>
            <hr id="hrcheckbox">
          </div>
          <div class="col-12 col-2">
            <input type="checkbox" id="runnynose" name="runnynose" value="runnynose">
            <label for="runnynose"> &nbsp; น้ำมูกไหล</label><br>
            <hr id="hrcheckbox">
          </div>
          <div class="col-12 col-2">
            <input type="checkbox" id="tired" name="tired" value="tired">
            <label for="tired"> &nbsp; เหนื่อยหอบ</label><br>
            <hr id="hrcheckbox">
          </div>
          <div class="col-12 col-2">
            <input type="checkbox" id="none" name="none" value="none">
            <label for="none"> &nbsp; ไม่มีอาการเหล่านี้</label><br>
            <hr id="hrcheckbox">
          </div>
        </div>
      </div>
    </div>
    <div class="pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="question">คำถามข้อที่ 3</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="qq">ท่านมีประวัติเดินทางมาจากประเทศ&nbsp;<br>จีน, ญี่ปุ่น, สิงคโปร์, เกาหลีใต้, ฮ่องกง,
              ไต้หวัน,&nbsp;<br>มาเก๊า, เยอรมัน, ฝรั่งเศส&nbsp;<br>หรือ
              ในพื้นที่ที่มีการระบาดของโรคไวรัสโคโรนา<br>สายพันธุ์ใหม่ 2019 ในช่วงเวลา 14 วัน<br>ก่อนเริ่มป่วย
              ใช่หรือไม่</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="py-1">
      <div class="container">
        <div class="row">
          <div class="px-4 mx-2 col-1"></div>
          <div class="col-4 text-center">
            <input class="w-100 btn" type="button" id="ansy" name="ansy" value="ใช่">
          </div>
          <div class="col-1"></div>
          <div class="col-4 text-center">
            <input class="w-100 btn" type="button" id="ansn" name="ansn" value="ไม่ใช่">
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <div class="pt-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="question">คำถามข้อที่ 4</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="py-1">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="qq">ท่านมีประวัติสัมผัสใกล้ชิดกับผู้ป่วยที่ต้องสงสัยการติดเชื้อ<br>โรคไวรัสโคโรนาสายพันธุ์ใหม่
                2019
                หรือไม่</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="py-1">
        <div class="container">
          <div class="row">
            <div class="px-4 mx-2 col-1"></div>
            <div class="col-4 text-center">
              <input class="w-100 btn" type="button" id="ansy" name="ansy" value="ใช่">
            </div>
            <div class="col-1"></div>
            <div class="col-4 text-center">
              <input class="w-100 btn" type="button" id="ansn" name="ansn" value="ไม่ใช่">
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
      <div class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h6 class="remark">* กรุณาตรวจสอบข้อมูลความถูกต้องก่อนยืนยันการส่ง</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center"><input id="submit" class="w-100 btn" type="submit" value="ยืนยันการส่ง">
            </div>
          </div>
        </div>
      </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

{% endblock %}