{% extends 'base.html' %}
{% load static %}


{% block title_bl %} screen{% endblock %}
{% block body_bl %}

                <div class="px-5 pt-5 mt-5 row">
                    <div class="col-sm-12">
                        <label for="the_question">
                            <h1>1. ยืนยันการคัดกรอง PEA Covid-19</h1>
                        </label>
                        <img src="{% static 'img/yellowlady.png' %}" alt="yellowlady" id="yellowlady">
                    </div>
                </div>

<p>รหัสพนักงาน{{ data.employee_ID }}</p>
<p>ความเสี่ยง {{ health }}</p>
{% endblock %}



