{% extends 'base.html' %}
{% load static %}


{% block title_bl %} screen{% endblock %}
    <body style="background-color : purple ; padding:200px">

{% block body_bl %}




    <div class="container" style="background-color: white;padding:20px" >
        <div class="col-sm-12 " >
                <center>
                <h1>1. ยืนยันการคัดกรอง PEA Covid-19</h1>
                <br>
                <h1><p>รหัสพนักงาน : {{ data.id }}</p></h1>
                <h1><p>ความเสี่ยง</p></h1>
                <br>
                <h1 class="display-1" style = "color : red" ><p>{{ data.health }}</p></h1>
                 </center>
        </div>


    </div>
</body>
{% endblock %}

{#{% endblock %}#}



