{% extends 'base.html' %}
{% load static %}


{% block title_bl %} daily update{% endblock %}
{% block body_bl %}

<p>{{ data.employee_line_ID }}</p>
<p>{{ data.quarantined }}</p>

    <form action="{% url 'myworkplace:add_daily_update' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="voter-id-input">activity:</label>
            <input name="voter-id-input" type="text" class="form-control" id="activity-input" placeholder="fe021e59-c29d-4532-9e99-5c42f1910af3"  required autofocus>
        </div>
            <button type="submit" class="btn btn-primary btn-block">Submit ballot</button>

    </form>


{% endblock %}



