{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Form WFH | แจ้งเข้าร่วมโครงการ 2 / 4 {% endblock %}
{% block body_bl %}

<div class="py-5 covidleavebg">
  <div class="py-4 container">
    <div class="row">
      <div class="col-12">
        <h1> &nbsp; </h1>
        <h1> &nbsp; </h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="formwfhtext">พบแพทย์</h3>
        <h4 class="formwfhtext">( พร้อมบันทึกลาป่วย 14 วัน )</h4>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="px-4 pt-1">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-3 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="redtext">หาก คุณติดเชื้อ COVID-19</h5>
      </div>
    </div>
  </div>
</div>
<div class="px-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="">ให้รีบดำเนินการแจ้งผู้บังคับบัญชาทันที และดำเนินการลา COVID-19 ผ่านช่องทาง LINE : PEA COVID-19
          ทันที <br>
          >> กดเมนู “จัดการข้อมูล” หรือ พิมพ์ “จัดการข้อมูล” <br>
          >> เลือกเมนู “ส่งใบรับรองแพทย์” เพื่อยืนยันผล</h6>
      </div>
    </div>
  </div>
</div>
<div class="px-3 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="greentext">หาก ผลแสดงว่าคุณไม่ติดเชื้อ ,หายจากอาการป่วย หรือสามารถปฎิบัติงานได้ตามปกติ</h5>
      </div>
    </div>
  </div>
</div>
<div class="px-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="">ให้รีบดำเนินการแจ้งผู้บังคับบัญชา และแจ้งผลผ่านช่องทาง LINE : PEA COVID-19 ทันที <br>
          >> กดเมนู “จัดการข้อมูล” หรือ
          พิมพ์ “จัดการข้อมูล” <br>
          >> เลือกเมนู “ส่งใบรับรองแพทย์” เพื่อยืนยันผล <br> <br>
          ทำการเปลี่ยนสถานะจากลา COVID-19 มาเข้าร่วม โครงการ Work From Home ในกรอบเวลา 14 วัน <br> <br>
          โดยดำเนินการตามขั้นตอนต่อไปนี้ ผ่านช่องทาง LINE : PEA COVID-19 Line Official Account <br>
          >> กดเมนู “แจ้งเข้าร่วม” หรือ
          พิมพ์ “แจ้งเข้าร่วม” <br>
          >> กดเมนู “แจ้งเข้าร่วมโครงการ Work from
          home” และดำเนินการตามขึ้นตอนต่อไป</h6>
      </div>
    </div>
  </div>
</div>
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 id="remark">*กรุณาตรวจสอบข้อมูลความถูกต้องก่อนดำเนินการถัดไป</h6>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <button class="w-100 mapbtn" onclick="window.close()">รับทราบ</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}