{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Form WFH | แจ้งเข้าร่วมโครงการ 1 / 4 {% endblock %}
{% block body_bl %}

  <div class="py-5 wfhbg">
    <div class="py-4 container">
      <div class="row">
        <div class="col-12">
          <h1> &nbsp; </h1>
          <h1> &nbsp; </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <img src="{% static 'images/track1@3x.png' %}" alt="purpledottl1" width="100%">
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="formwfhtext text-center">เข้าร่วม</h3>
          <h3 class="formwfhtext text-center">โครงการ WORK FROM HOME</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="px-3 py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="formwfhtext text-center">โครงการ Work from home สำหรับพนักงาน PEA ที่อยู่ในกลุ่มต้องแยกตัวเอง 14 วัน
            จะต้องปฏิบัติตามรายละเอียดและเงื่อนไขตามที่ PEA กำหนดอย่างเคร่งครัดดังต่อไปนี้</h6>
            <div class="px-4 pt-1">
              <hr>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="brightpurpletext">สิ่งที่ต้องมี</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="formwfhtext">1. &nbsp;&nbsp; ข้อมูลสำคัญที่ใช้ในการปฏิบัติงานของแต่ละหน่วยงาน <br>
            2. &nbsp; คอมพิวเตอร์ส่วนตัว/แท็บเล็ต (PC/Notebook/Tablet) 
               พร้อมโปรแกรมพื้นฐานที่จำเป็นต้องใช้งาน <br>
            3. &nbsp; มีอินเตอร์เน็ตพร้อมใช้สำหรับการทำงาน <br>
            4. &nbsp; ติดตั้งและพร้อมใช้งานระบบ VPN เพื่อเข้าถึง
               ระบบงานของ PEA ได้ เช่น SAP, GIS, TAMS, BPM   
               และ อื่นๆ <br>
            5. &nbsp; ติดตั้งแอปพลิเคชันในโทรศัพท์มือถือ/แท็บเล็ต เพื่อ.  
               ประชุมและ Video Conference เช่น eSpace UC</h6>
            <div class="px-4 pt-1">
              <hr>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="brightpurpletext">เงื่อนไขและข้อกำหนด</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="formwfhtext">1. &nbsp;&nbsp; ท่านจะต้องประเมินติดตามความเสี่ยงของท่านทุกวัน 
            ผ่าน ช่องทาง PEA COVID-19 LINE Official Accout   
            เป็นประจำทุกวัน <br>
         2. &nbsp; ท่านต้องเข้าร่วมกิจกรรม PEA STOP COVID-19   
            CHALLENGE เป็นประจำทุกวัน โดยท่านจะได้รับการแจ้ง. 
            เตือนเพื่อเข้าร่วมกิจกรรมผ่านทาง PEA-MAIL <br>
         3. &nbsp; หากท่านเข้าร่วมกิจกรรมตามข้อ 1 และ ข้อ 2 มากกว่า  
            80% ขึ้นไป ท่านจะมีสิทธิ์ลุ้นรับของรางวัลจากทาง PEA <br>
         4. &nbsp; ท่านจะต้องพร้อมปฏิบัติงานตลอดเวลาทำการ 
         จันทร์-ศุกร์ ตั้งแต่เวลา 08.30 - 16.30 น. 
         พักเที่ยง 12.00 - 13.00 น. <br>
         5. &nbsp; ท่านจะต้องพร้อมประชุมงานหรือติดต่องาน ภายในเวลา 
            30 นาที หรือ เมื่อมีการร้องขอ <br>
         6. &nbsp; ท่านจะต้องลงบันทึกเวลาปฏิบัติงานผ่านระบบ PEA   
            COVID-19 ให้ผู้บังคับบัญชาต้นสังกัดได้รับทราบทุกวัน 
         เข้างาน เวลา 08.30 น. 
         ออกงาน เวลา 16.30 น.
            โดยระบบเปิดให้ลงบันทึกเวลาปฏิบัติงานได้ 2 ช่วงเวลา   
            ดังนี้ 
           ลงเวลาเข้างานได้ตั้งแต่ 07.00 น. - 08.30 น. 
         ลงเวลาเลิกงานได้ตั้งแต่ 16.30 น. - 24.00 น <br>
         7. &nbsp; หากท่านไม่ลงบันทึกเวลาปฏิบัติงานตามช่วงระยะเวลาที่
            กำหนดไว้ข้างต้น ระบบจะบันทึกว่าเป็น “การลา” โดย
            อัตโนมัติ และต้องชี้แจงเหตุผลการไม่ลงบันทึกเวลา
            ปฏิบัติงานต่อผู้บังคับบัญชาต้นสังกัดต่อไป <br>
         8. &nbsp; หากท่านมีความประสงค์ที่จะ “ลาป่วย , ลากิจ หรือลาพัก
            ร้อน” ให้แจ้งผู้บังคับบัญชาต้นสังกัดตามช่องทางที่ได้มี
            การตกลงกันไว้ <br>
         9. &nbsp; ระบบจะรายงานเวลาปฏิบัติงานให้ผู้บังคับบัญชาต้น
            สังกัดของท่านรับทราบทุกวัน <br>
         10. &nbsp; หากท่านมีความจำเป็นที่จะต้องออกจากที่พักอาศัยของ. 
            ท่าน ให้ดำเนินการแจ้งต่อผู้บังคับบัญชาต้นสังกัดของ. 
            ท่านรับทราบและอนุมัติทุกครั้ง ตามช่องทางที่ได้ตกลง. 
            กันไว้ <br>
         11. &nbsp; ขอความร่วมมือให้พนักงานที่อยู่ในกลุ่มต้องแยกตัวทุก 
            คน ทำการเพิ่มระยะห่างในการเข้าสังคม (Social  
            Distance)  เช่น การพูดคุย, สัมผัส ระหว่างบุคคลที่อยู่ 
            ใกล้ชิดกันควรมีการเว้นระยะห่างอย่างน้อย 2 เมตร เพื่อ
            หลีกเลี่ยงการติดต่อของโรคและหลีกเลี่ยงการทำ
            กิจกรรมที่ต้องทำร่วมกันเป็นหมู่คณะ <br>
         12. &nbsp; ระหว่างที่อยู่ในช่วงกักตัว 14 วัน หากท่านรู้สึกว่าตนเอง 
            มีอาการไข้ ตัวร้อน ไอ เจ็บคอ หรือเข้าข่ายของการติด
            เชื้อไวรัส COVID-19 อย่างใดอย่างหนึ่ง ให้ท่านไปทำการ. 
            ตรวจคัดกรองโรคที่โรงพยาบาลทันที พร้อมขอผลการ
            ตรวจ/ใบรับรองแพทย์เพื่อยืนยันผลการตรวจผ่านทาง. 
            ระบบ PEA COVID-19 Line Official Account <br>
         13. &nbsp; หากมีการตรวจสอบพบว่า ท่านไม่ปฏิบัติตามเงื่อนไขข้อ
            ตกลงด้านบน ทาง PEA จะมีการพิจารณาบทลงโทษและ  
            มีผลต่อการพิจารณาประเมินผลงานประจำปีตามระเบียบ.  
            ของการไฟฟ้าส่วนภูมิภาคต่อไป</h6>
            <div class="px-4 pt-1">
              <hr>
            </div>
        </div>
      </div>
    </div>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="px-4 pt-3 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <input type="hidden" name="page" value="1">

            <input id="mapbtn" class="w-100 mapbtn" type="submit" value="ยอมรับและพร้อมปฏิบัติตามอย่างเคร่งครัด">
          </div>
        </div>
      </div>
    </div>
  </form>



{% endblock %}