{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Form WFH | แจ้งเข้าร่วมโครงการ 2 / 4 {% endblock %}
{% block body_bl %}

<div class="py-5 covidleavebg">
  <div class="py-4 container">
    <div class="row">
      <div class="col-12">
        <h1> &nbsp; </h1>
        <h1> &nbsp; </h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="formwfhtext text-center">คำขอของท่านได้ส่งไปแล้ว</h3>
        <h4 class="formwfhtext text-center"></h4>
      </div>
    </div>
  </div>
</div>


{% endblock %}