{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Form WFH | แจ้งเข้าร่วมโครงการ 2 / 4 {% endblock %}
{% block body_bl %}

<div class="py-5 covidleavebg">
  <div class="py-4 container">
    <div class="row">
      <div class="col-12">
        <h1> &nbsp; </h1>
        <h1> &nbsp; </h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="formwfhtext text-center">ควรพบแพทย์</h3>
        <h4 class="formwfhtext text-center">( พร้อมบันทึกลาป่วย 14 วัน )</h4>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="px-4 pt-1">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-3 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="brightpurpletext">โปรดตรวจสอบและกรอกรายละเอียดให้ครบถ้วน</h5>
      </div>
    </div>
  </div>
</div>
<form method="POST">
  {% csrf_token %}
  <div class="px-3 py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 id="edited">รหัสพนักงานของคุณ</h6>
          <input type="hidden" name="page" value="1" />
          <input class="w-100 unedited" type="text" required name="employee_id" value="{{id}}">
        </div>
      </div>
    </div>
  </div>
  <div class="px-3 py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 id="edited">ชื่อผู้มีอำนาจอนุมัติ &nbsp; <span><img src="{%static 'images/invalid-name@3x.png' %}"
                alt="invalid-name" width="20px"></span></h6>
            <input class="w-100 unedited" type="text" value="{{ director_name }}" readonly>


{#          <input class="w-100 edited" name="id_boss" required type="text">#}
        </div>
      </div>
    </div>
  </div>


<div class="px-4 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="px-4 pt-1">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-3 pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="brightpurpletext">เงื่อนไขและข้อกำหนด</h3>
      </div>
    </div>
  </div>
</div>
<div class="px-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h6 class="">1. ให้ท่านไปทำการตรวจคัดกรองโรคที่โรงพยาบาลทันที พร้อมขอใบรับรองแพทย์เพื่อยืนยันผลการตรวจ<br><br>
          2. หลังจากได้รับการยืนยันผลการตรวจแล้ว ให้ท่านดำเนินการแจ้งต่อผู้บังคับบัญชาต้นสังกัด
          โดยแนบหลักฐานผลการตรวจ/ใบรับรองแพทย์ ผ่านทางเมนู "ข้อมูลส่วนตัว"
          ทางช่องทาง PEA COVID-19 LINE Official Account
          โดยมีเงื่อนไขในการลาดังนี้ <br><br>
          2.1 การลากรณีที่พบว่ามีการติดเชื้อ COVID-19 ระยะเวลาการลาพักรักษาตัวจะขึ้นอยู่กับดุลพินิจของแพทย์ผู้วินิจฉัย<br><br>
          2.2 การลากรณีพบว่าไม่มีการติดเชื้อ COVID-19 สามารถเลือกระหว่าง
          ลาต่อเนื่องจนครบ 14 วัน หรือเข้าร่วมโครงการ Work from home
          ภายใต้เงื่อนไขประเภทกลุ่มแยกตัวเอง 14 วัน
          โดยสามารถยื่นความประสงค์ผ่านช่องทาง PEA COVID-19 LINE Official Account
          ทั้งนี้ขึ้นอยู่กับดุลยพินิจของผู้บังคับบัญชาต้นสังกัดพิจารณาตามความเหมาะสม<br><br>
          3. หากมีการตรวจสอบพบว่า ท่านไม่ปฏิบัติตามเงื่อนไขข้อตกลงด้านบน
          ทาง PEA จะมีการพิจารณาบทลงโทษ
          และมีผลต่อการพิจารณาประเมินผลงานประจำปี
          ตามระเบียบของการไฟฟ้าส่วนภูมิภาคต่อไป</h6>
      </div>
    </div>
  </div>
</div>
    <div class="px-3 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="redtext">หาก คุณติดเชื้อ COVID-19</h5>
      </div>
    </div>
  </div>
</div>
<div class="px-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="">ให้รีบดำเนินการแจ้งผู้บังคับบัญชาทันที และดำเนินการลา COVID-19 ผ่านช่องทาง LINE : PEA COVID-19
          ทันที <br><br>
          >> กดเมนู “ข้อมูลส่วนตัว” หรือ พิมพ์ “ข้อมูลส่วนตัว” <br>
          >> เลือกเมนู “ส่งใบรับรองแพทย์” เพื่อยืนยันผล</h6>
      </div>
    </div>
  </div>
</div>
<div class="px-3 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="greentext">หาก ผลแสดงว่าคุณไม่ติดเชื้อ หายจากอาการป่วย หรือสามารถปฎิบัติงานได้ตามปกติ</h5>
      </div>
    </div>
  </div>
</div>
<div class="px-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h6 class="">ให้รีบดำเนินการแจ้งผู้บังคับบัญชา และแจ้งผลผ่านช่องทาง LINE : PEA COVID-19 ทันที <br><br>
          >> กดเมนู “ข้อมูลส่วนตัว” หรือ
          พิมพ์ “ข้อมูลส่วนตัว” <br>
          >> เลือกเมนู “ส่งใบรับรองแพทย์” เพื่อยืนยันผล <br><br>
          ทำการเปลี่ยนสถานะจากลา COVID-19 มาเข้าร่วม โครงการ Work From Home ในกรอบเวลา 14 วัน <br> <br>
          โดยดำเนินการตามขั้นตอนต่อไปนี้ ผ่านช่องทาง LINE : PEA COVID-19 Line Official Account <br><br>
          >> กดเมนู “ขออนุมัติ WFH” หรือ
          พิมพ์ “ขออนุมัติ” <br>
          >> กดเมนู “แจ้งเข้าร่วมโครงการ Work from
          home” และดำเนินการตามขึ้นตอนต่อไป</h6>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="px-4 pt-1">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="px-4 py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <input class="w-100 mapbtn" type="submit" value="ยอมรับและพร้อมปฏิบัติตามอย่างเคร่งครัด">
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}