{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Form WFH | แจ้งเข้าร่วมโครงการ 4 / 4 {% endblock %}
{% block body_bl %}

  <div class="py-5 wfhbg">
    <div class="py-4 container">
      <div class="row">
        <div class="col-12">
          <h1> &nbsp; </h1>
          <h1> &nbsp; </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="formwfhtext">ระบบได้ส่งคำขอเข้าร่วมโครงการ  WORK FROM HOME ไปยัง PEA Mail ของผู้บังคับบัญชาต้นสังกัดของท่านแล้ว <br> <br>
            สามารถติดตามผลการอนุมัติได้ที่เมนู My Profile ใน PEA COVID-19 Line Official Account หรือ PEA Mail ของท่าน</h6>
        </div>
      </div>
    </div>
  </div>
  <form method="POST"> ไป email
    {% csrf_token %}
  <div class="px-4 py-5">
    <div class="py-4 container">
      <div class="row">
        <div class="col-12 text-center">
                  <input type="hidden" name="startdate" value={{ startdate }}>
                              <input type="hidden" name="enddate" value={{ enddate }}>
          <input class="w-100 mapbtn" type="submit" value="ตกลง">
        </div>
      </div>
    </div>
  </div>
  </form>

{% endblock %}