{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Formregister | 1 / 3 {% endblock %}
{% block body_bl %}

<title>PEA COVID-19</title>

  <div class="py-5 formregisterbg">
    <div class="py-4 container">
      <div class="row">
        <div class="col-12">
          <h1> &nbsp; </h1>
          <h1> &nbsp; </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <img src="{% static 'img/track1@3x.png' %}" alt="purpledottl1" width="100%">
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>1. ข้อมูลพนักงาน/ลูกจ้าง</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 id="unedited">รหัสพนักงาน</h6>
          <input class="w-100 unedited" type="text" value={{ Employee_ID }} disabled="disabled">
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 id="unedited">ชื่อ-นามสกุล</h6>
          <input class="w-100 unedited" type="text" name="first-last name" value="xxx" disabled="disabled">
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 id="unedited">สังกัด</h6>
          <input class="w-100 unedited" type="text" name="division" value="xxx" disabled="disabled">
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 id="unedited">ตำแหน่ง</h6>
          <input class="w-100 unedited" type="text" name="position" value="xxx" disabled="disabled">
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h6 id="unedited">เพศ</h6>
          <input class="w-100 unedited" type="text" name="sex" value="xxx" disabled="disabled">
        </div>
        <div class="col-6">
          <h6 id="unedited">อายุ</h6>
          <input class="w-100 unedited" type="text" name="age" value="xxx" disabled="disabled">
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>ข้อมูลเพิ่มเติม</h4>
        </div>
      </div>
    </div>
  </div>
  <form method="POST">
    {% csrf_token %}
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h6 id="edited">หมายเลขโทรศัพท์ภายใน</h6>
          <input class="w-100 edited" type="text" name="ext">
          <input type="hidden" name="page" value="1">
        </div>
        <div class="col-6">
          <h6 id="edited">หมายเลขโทรศัพท์มือถือ <font color="#f03d3d"> &nbsp; * &nbsp; </font></h6>
          <input class="w-100 edited" name="mobile_phone" required type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h6 id="edited">อาคาร เช่น อาคาร 1 <font color="#f03d3d"> &nbsp; * &nbsp; </font></h6>
          <input class="w-100 edited" type="text" required name="building">
        </div>
        <div class="col-6">
          <h6 id="edited">ชั้น <font color="#f03d3d"> &nbsp; * &nbsp; </font></h6>
          <input class="w-100 edited" type="text" required name="floor">
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 my-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 id="remark">*กรุณาตรวจสอบข้อมูลความถูกต้องก่อนดำเนินการถัดไป</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <input id="checkin" class="w-100 btn" type="submit" value="ถัดไป">
        </div>
      </div>
    </div>
  </div>
  </form>

  {% endblock %}