{% extends 'base.html' %}
{% load static %}

{% block title_bl %} homepage{% endblock %}
{% block body_bl %}

<div class="bg">
    <div class="container">
        <div class="py-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="py-3 text-center">สรุปสถานะพนักงาน PEA
                            <br>ตามแบบประเมิน <font color="red">COVID-19</font> ทั่วประเทศ<br></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-0 py-1 mx-0">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="pr-1 row">
                            <div class="pt-2 pb-3 card-body" id="seedoc">
                                <blockquote class="blockquote mb-0 text-center">
                                    <p> <br> </p>
                                    <h6 class="text-center text-white"><small>ต้องรีบพบแพทย์</small></h6>
                                    <p> <br> </p>
                                    <h1 class="display-4 text-white text-center" style="font-family: Kanit-Bold;">128
                                    </h1>
                                    <p> <br> </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="px-2 pb-2 col-12">
                                <div class="card-body" id="normalcard">
                                    <blockquote class="py-2 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small>ไม่เข้าเกณฑ์+WFH</small></h6>
                                        <h2 class="text-white text-center">5,000</h2>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="px-2 pb-2 col-12">
                                <div class="card-body" id="riskwfh">
                                    <blockquote class="py-2 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small>เสี่ยง+WFH</small></h6>
                                        <h2 class="text-white text-center">13,000</h2>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="px-1 pb-2 col-12">
                                <div class="card-body" id="workatoffice">
                                    <blockquote class="py-2 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small>มาทำงานปกติ</small></h6>
                                        <h2 class="text-white text-center">9,000</h2>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="px-1 pb-2 col-12">
                                <div class="px-0 card-body" id="notshow">
                                    <blockquote class="py-2 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small>ไม่ประเมินความเสี่ยง</small></h6>
                                        <h2 class="text-white text-center">2,000</h2>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="text-right" id="opentextcf">*ข้อมูลล่าสุด ณ วันที่ 19 มี.ค. 63</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

{% endblock %}