{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Home | PEA COVID-19 {% endblock %}
{% block body_bl %}

    <div class="homebg pt-1 pb-5 ">
        <div class="py-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="{% static 'images/oval@3x.png' %}" alt="purploval" width="10px"><span id="status"> &nbsp;&nbsp;
                        อัปเดตล่าสุด {{ update_date }} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-right">
                        <h3 class="formwfhtext text-right">สรุปตัวเลขพนักงาน PEA</h3>
                        <h3 class="formwfhtext text-right">กลุ่มเสี่ยง COVID-19 ทั้วประเทศ</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-right">
                        <h6 class=""><small>อ้างอิงจาก แบบฟอร์มประเมินความเสี่ยงเพื่อคัดกรองกลุ่มเสี่ยง</small></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-right">
                        <h3 class="formwfhtext text-right">กลุ่มเสี่ยงต้องรีบพบแพทย์</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-right">
                        <h1 class="display-1 darkredtext">{{ high_risk }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="px-2 pb-2 col-12">
                                <div class="card-body" id="normalcard">
                                    <blockquote class="py-3 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small>ไม่เข้าเกณฑ์+WFH</small></h6>
                                        <h1 class="display-3 text-white text-center"><xx-larger>{{ normal_wfh }}</xx-larger></h1>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="px-2 pb-2 col-12">
                                <div class="card-body" id="yellowcard">
                                    <blockquote class="py-3 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small>แยกกักตัว + WFH</small></h6>
                                        <h1 class="display-3 text-white text-center"><xx-larger>{{ risk_wfh }}</xx-larger></h1>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="px-2 pb-2 col-12">
                                <div class="card-body" id="purplecard">
                                    <blockquote class="py-3 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small>ปฏิบัติงานตามปกติ</small></h6>
                                        <h1 class="display-3 text-white text-center"><xx-larger>{{ pea_office }}</xx-larger></h1>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="px-2 pb-2 col-12">
                                <div class="card-body" id="graycard">
                                    <blockquote class="py-3 blockquote mb-0 text-center">
                                        <h6 class="text-center text-white"><small><font color="#545255">ไม่ประเมินความเสี่ยง</font></small></h6>
                                        <h1 class="display-3 text-white text-center"><xx-larger><font color="#545255">{{ no_daily_update }}</font></xx-larger></h1>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}