{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Missing 3 Day Timestamp {% endblock %}
{% block body_bl %}

  <div class="px-5 py-5 text-center" id="missingbg">
    <div class="px-5 py-5 container">
      <div class="px-5 py-5 row">
        <h1> &nbsp; </h1>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="">คุณได้รับข้อความแจ้งเตือน</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="py-0 container">
      <div class="py-0 row">
        <div class="col-12 text-center">
          <h3 class="">นาย อรรถพล วัฒนสาคร</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-1">
    <div class="container">
      <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-5">
          <h6 class="text-left">รหัสพนักงาน</h6>
          <h6 class="text-left">เบอร์ติดต่อ :</h6>
            <h6 class="text-left">เบอร์ติดต่อฉุกเฉิน 1 :</h6>

        </div>
        <div class="col-4">
          <h6 class="text-left">409930</h6>
          <h6 class="text-left">0981236789</h6>
            <h6 class="text-left">0981236789</h6>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="brightpurpletext">ไม่ลงเวลาเข้า-ออกงาน <br> ในระบบ PEA COVID-19 เป็นเวลา 3 วัน</h6>
        </div>
      </div>
    </div>
  </div>
  <form method="POST">
    <div class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center"><input id="submitit" class="w-75 mapbtn" type="submit" value="ติดต่อได้แล้ว">
          </div>
        </div>
      </div>
    </div>
    <div class="py-0">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center"><input id="submitmit" class="w-75 mapbtnreverse" type="submit" value="ยังไม่สามารถติดต่อได้">
          </div>
        </div>
      </div>
    </div>
    <div class="pt-4 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h6 class="text-center"><font color="#756D78"><small>*หากท่านยังไม่สามารถติดต่อพนักงานของท่านได้<br>ขอความกรุณาให้ท่านติดต่อหมายเลขฉุกเฉินเพื่อสอบถามโดยตรง</font></small></h6>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}