{% extends 'base.html' %}
{% load static %}


{% block title_bl %} daily update{% endblock %}
{% block body_bl %}

    <div class="Surface"> </div>

{#    <img src= "{% static 'images/form.png' %}" srcset="form@2x.png 2x,#}
{#    form@3x.png 3x" class="form">#}

    <br>
    <br>
    <br>

    <!-- png -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- png -->
                <img class="slider" src="{% static 'images/slider-discrete-1@3x.png' %}">
            </div>
        </div>
    </div>

    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <font color="#0bb07b" style="font-size: 40px;">ไม่เข้าเกณฑ์</font>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center -COVID">
                    คุณอาจเป็นไข้หวัด หรือไข้หวัดใหญ่ โดยไม่มีความเสี่ยงสัมผัสเชื้อ COVID-19
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center"><a href="https://pea-covid19-test.herokuapp.com/resultscreen2/"><input
                                                       class="w-100 mapbtn" type="submit" value="เข้าปฏิบัติงานตามปกติ"></a>
                </div>
            </div>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="px-4 pt-1 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center"><input class="w-100 mapbtnreverse" type="submit"
                                                           value="เข้าร่วมโครงการ Work from home"></div>
                </div>
            </div>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

{% endblock %}



