{% extends 'base.html' %}
{% load static %}

{% block title_bl %} ผลการประเมินความเสี่ยง | คัดกรองกลุ่มเสี่ยง COVID-19 {% endblock %}
{% block body_bl %}

{#<div class="py-5">#}
{#  <div class="py-4 container">#}
{#    <div class="row">#}
{#      <div class="col-12">#}
{#        <h1> &nbsp; </h1>#}
{#        <h1> &nbsp; </h1>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
<div class="py-1">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="brightpupletext">คุณได้ยืนยันที่จะปฏิบัติงาน</h3>
          <h3>ที่สำนักงานของคุณตามปกติ</h3>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="px-4 pt-1">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 id="remark">กรุณาประเมินติดตามความเสี่ยงของท่านทุกวัน 
          ผ่านช่องทาง PEA COVID-19 LINE Official Account
          ด้วยความห่วงใยจาก PEA COVID-19
          ขอบคุณครับ</h6>
      </div>
    </div>
  </div>
</div>

{% endblock %}