{% extends 'base.html' %}
{% load static %}


{% block title_bl %} daily update{% endblock %}
{% block body_bl %}

{#<p>{{ data.employee_line_ID }}</p>#}
{#<p>{{ data.quarantined }}</p>#}

<div class="container" id="heading">
        <div class="px-5 pt-5 mt-5 row">
            <div class="col-sm-12">
                <label for="the_question">
                    <h1 id="app">เงื่อนไขปกติ</h1>
                </label>
                <img src="{% static 'img/yellowlady.png' %}" alt="yellowlady" id="yellowlady">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
              สิ่งที่ต้องมี
            </div>
            <div class="card-body" >
              <!-- <blockquote class="blockquote mb-0"> -->
                  <ol style="text-align: left;">
                      <li>คอมพิวเตอร์ส่วนตัว/แท็ปเล็ต<br> (PC/Notebook/Tablet)</li>
                      <li>สามารถติดตั้งและพร้อมใช้งานระบบ VPN <br>เพื่อเข้าถึงระบบงานของ PEA ได้</li>
                      <li>สามารถติดตั้งและพร้อมใช้งานระบบ SAP <br>(กรณีที่จำเป็นใช้เพื่อทำงานที่เกี่ยวข้อง)</li>
                      <li>สามารถติดตั้งและพร้อมใช้งานระบบ UC <br>ในโทรศัพท์มือถือ/แท็ปเล็ต</li>
                      <li>มีอินเตอร์เน็ตพร้อมใช้สำหรับการทำงาน</li>
                      <li>ได้รับการอนุมัติจากผู้บังคับบัญชา<br>เรียบร้อยแล้ว</li>
                  </ol>
              <!-- </blockquote> -->
            </div>
          </div><br>


    <form method="POST">
        {% csrf_token %}

    <div class="form-group">
                <label for="inputEmid" style="color: #000000;">กรอกรหัสพนักงาน</label>
                <input type="text" class="form-control" id="inputEmid">
            </div>
            <div class="form-group">
            <label for="inputEmid" style="color: #000000;">วันที่เริ่มต้น Work from Home</label>
            <div class="input-daterange input-group">
                <input type="text" class="input-sm form-control" id="datepicker1" placeholder="วันที่เริ่มต้น" onchange="startdate()">
                <span style="color: #000000;"  >ถึง</span>
                <input type="text" class="input-sm form-control" id="datepicker2" placeholder="วันที่สิ้นสุด" onchange="enddate()">
            </div>
            </div>
            <label for="inputEmid" style="color: #000000;" id="diffdate">รวมจำนวนวันที่ Work from home XX วัน</label>
            <div class="form-group">
            <label for="" style="color: #000000;">รายละเอียดงานที่ต้องทำในช่วง Work from Home</label>
            <textarea class="form-control" id="detailTextarea" placeholder="โปรดกรอก"></textarea>
            </div>
            <div class="form-group">
                <label for="inputEmid" style="color: #000000;">กรอกรหัสผู้บังคับบัญชาขั้นต้น</label>
                <input type="text" class="form-control" id="inputEmid">
            </div>

                    <div class="form-group">
                <label for="inputEmid" style="color: #000000;">กรอกรหัสผู้มีอำนาจอนุมัติการลา</label>
                <input type="text" class="form-control" id="inputEmid">
            </div>
            <label for="inputEmid" style="color: #000000;">เงื่อนไขการอนุมัติเป็นดุลยพินิจของผู้บังคับบัญชา
            </label>
            <div class="card">
            <div class="card-header">
             เงื่อนไขและข้อกำหนด
            </div>
            <div class="card-body" >
              <!-- <blockquote class="blockquote mb-0"> -->
                  <ol style="text-align: left;">
                      <li>อยู่ในสถานะพร้อมปฏิบัติงานและไม่ออกจากที่พักตลอดช่วงเวลาทำการ <br>(จันทร์-ศุกร์ เวลา 08.30 - 16.30 น. พักเที่ยง 12.00 - 13.00 น.)</li>
                      <li>อยู่ในสถานะพร้อมประชุมงานหรือติดต่องานภายในเวลา 30 นาที เมื่อมีการร้องขอ</li>
                      <li>บันทึกเวลาปฏิบัติงานให้ผู้บังคับบัญชาทราบทุกวัน (เข้างานภายใน เวลา 08.30 น. และออกงานเวลา เวลา 16.30 น.)</li>
                      <li>รายงานผลการปฏิบัติงานให้ผู้บังคับบัญชาทราบทุกวัน</li>
                      <li>พนักงานต้องทำรายงาน Daily Update ทุกวัน       </li>
                      <li>หากมีความจำเป็นต้องออกจากที่พักให้แจ้งผู้บังคับบัญชารับทราบและอนุมัติทุกครั้ง</li>
                      <li>หลีกเลี่ยงการสัมผัส,ใกล้ชิดกับบุคคลที่มีความเสี่ยงต่อโรค หรือเดินทางไปในพื้นที่เสี่ยงต่างๆ</li>
                      <li>หากตรวจพบว่า ไม่ปฏิบัติตามเงื่อนไขข้อตกลงจะมีบทลงโทษและมีผลต่อการพิจารณาประเมินผลงานประจำปีตามระเบียบการไฟฟ้าส่วนภูมิภาค</li>
                  </ol>
                  <!-- <footer>  -->
                    <br>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" >
                        <label class="custom-control-label" for="customRadio1">ไม่ยอมรับ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                     </div><br>
                     <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">ยอมรับและพร้อมปฏิบัติตามอย่างเคร่งครัด</label>
                      </div>

                   </div>
                   <br>

                  <!-- </footer>-->
              <!-- </blockquote> -->
            </div><br>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br>
    </form>
</div>


{% endblock %}



