

{% extends 'base.html' %}
{% load static %}


{% block title_bl %} Personal information page{% endblock %}
{% block body_bl %}

<div class="container" id="heading">
        <div class="px-5 pt-5 mt-5 row">
            <div class="col-sm-12">
                <label for="the_question">
                    <h2 id="app">เงื่อนไขกลุ่มเสี่ยง</h2>
                </label>
                <img src="{% static 'images/yellowlady.png' %}" alt="yellowlady" id="yellowlady">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Work from Home
            </div>
            <div class="card-body" >
              <!-- <blockquote class="blockquote mb-0"> -->
                 <p style="color: #000000;">จากสถานการณ์  COVID-19 ทาง PEA ได้เล็งเห็นถึงความสำคัญต่อสุขภาพของพนักงานทุกคน การปฏิบัติงานจากที่บ้านจึงเป็นทางเลือกหนึ่งเพื่อลดความเสี่ยงในการติดเชื้อและการแพร่ระบาดของไวรัส
                    PEA ได้เปิดโครงการ Work from Home เพื่อรองรับพนักงานที่อยู่ในกลุ่มเสี่ยง โดยพนักงานต้องปฏิบัติตามเงื่อนไขดังต่อไปนี้อย่างเคร่งครัด
                </p>
              <!-- </blockquote> -->
            </div>
          </div><br>
        <form method="POST">
    {% csrf_token %}
            <div class="card">
            <div class="card-header">
             เงื่อนไขและข้อกำหนด
            </div>
            <div class="card-body" >
              <!-- <blockquote class="blockquote mb-0"> -->
                  <ol style="text-align: left;">
                      <li>พนักงานต้องเข้าร่วมกิจกรรมในโครงการ PEA COVID-19 Challenge เป็นประจำทุกวัน</li>
                      <li>กิจกรรมในโครงการ PEA COVID-19 Challenge ประกอบไปด้วยตรวจสุขภาพประจำวันผ่าน checklist, การถ่ายรูปเพื่อยืนยันการรายงานตัว ผู้ที่เข้าร่วมกิจกรรมตรงตามเงื่อนไข (เข้าร่วมกิจกรรมมากกว่า 80% ขึ้นไป) ลุ้นรับของรางวัลต่างๆ (อยู่ระหว่างพิจารณาของรางวัล)</li>
                      <li>หากมีความจำเป็นต้องออกจากที่พักให้แจ้งผู้บังคับบัญชารับทราบและอนุมัติทุกครั้ง</li>
                      <li>ทำการเพิ่มระยะห่างในการเข้าสังคม (Social Distance)  เช่น เว้นการพูดคุย, สัมผัส หรืออยู่ระยะระหว่างบุคคลที่อยู่ใกล้ชิดกันในระยะ 6 ฟุต หรือในระยะ 2 เมตร เพื่อหลีกเลี่ยงการติดต่อของโรค</li>
                      <li>ระหว่างที่อยู่ในช่วงกักตัว 14 วัน หากมีอาการไข้ ตัวร้อน ไอ เจ็บคอ หรือเข้าข่ายของโรคอย่างใดอย่างหนึ่ง ให้ไปทำการตรวจคัดกรองโรคที่โรงพยาบาลทันที พร้อมขอใบรับรองแพทย์</li>
                      <li>หาก กฟภ. ตรวจสอบพบว่า พนักงานไม่ปฏิบัติตามเงื่อนไขข้อตกลงด้านบน จะมีการพิจารณาบทลงโทษและมีผลต่อการพิจารณาประเมินผลงานประจำปีตามระเบียบการไฟฟ้าส่วนภูมิภาคต่อไป</li>
                  </ol>
                    <br>
                    <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck">
                          <label class="form-check-label" for="gridCheck" style="color: #000000;">
                            รับทราบและพร้อมปฏิบัติตามอย่างเคร่งครัด
                          </label>
                        </div>
                      </div>

                   </div>
                   <br>
            </div><br>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br>

        </form>
    </div>

{% endblock %}
