{% extends 'base.html' %}
{% load static %}

{% block title_bl %} seedoc{% endblock %}
{% block body_bl %}

  <div class="px-0 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="px-0 py-3" id="headerbg">
            <h4 class="py-3 text-center">เข้าข่ายตามเงื่อนไข</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="py-2 display-4 text-center">พบแพทย์</h1>
          <h2 class="py-0 text-center">( พร้อมบันทึกลาป่วย 14 วัน )</h2>
          <br>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="px-3 text-left"> รหัสพนักงาน </h5>
          <input class="mx-3" type="text" placename="Input number" name="employeenum" id="employeenum">
        </div>
      </div>
      <div class="pt-4 pb-2 row">
        <div class="col-12">
          <h5 class="px-3 text-left"> รหัสผู้บังคับบัญชาต้นสังกัด </h5>
          <input class="mx-3" type="text" placename="Input number" name="bossnum" id="bossnum">
          <hr>
        </div>
      </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="px-4 py-2 headtc">เงื่อนไขและข้อกําหนด</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="px-4 text-left">1. ให้ท่านไปทําการตรวจคัดกรองโรคที่โรงพยาบาลทันที <br> 
            &nbsp; &nbsp;พร้อมขอใบรับรองแพทย์เพื่อยืนยันผลการตรวจ <br> 
            &nbsp; &nbsp;หากท่านตรวจพบว่าติดเชื้อ COVID-19 โดยมี <br> 
            &nbsp; &nbsp;ใบรับรองแพทย์ PEA จะอนุมัติให้พนักงานพักรักษาตัวได้ทันทีโดย <br> 
            &nbsp; &nbsp;“ไม่ถือว่าเป็นวันลา” ทั้งนี้ระยะเวลาในการพักรักษาตัว <br> 
            &nbsp; &nbsp;ขึ้นอยู่กับดุลยพินิจของแพทย์ที่ให้การรักษา <br> 
            &nbsp; &nbsp;ในกรณีที่ท่านตรวจพบว่าติดเชื้อ COVID-19 <br> 
            &nbsp; &nbsp;ตามราย ละเอียดด้านบน จะต้องติดต่อผู้บังคับบัญชาต้นสังกัด <br> 
            &nbsp; &nbsp;เพื่อรายงานผลให้ทราบทันที โดยแนบหลักฐานผลการ <br> 
            &nbsp; &nbsp;ตรวจ/ใบรับรองแพทย์ ผ่านทาง PEA MAIL <br>
            2. หากท่านตรวจไม่พบว่าติดเชื้อ COVID-19 แต่เป็นอาการ ของโรคอื่น ๆ <br> 
            &nbsp; &nbsp;ให้แนบหลักฐานผลการตรวจ/ใบรับรองแพทย์ ผ่านทาง PEA MAIL <br> 
            &nbsp; &nbsp;ระบบจะอนุมัติให้พนักงาน “ลาป่วย “ ทันทีโดยถือว่า <br> 
            &nbsp; &nbsp;“เป็นวันลา” ทั้งนี้ระยะเวลาใน การลาป่วยจะอยู่ภายในระยะเวลา 14 วัน <br> 
            &nbsp; &nbsp;ในกรณีที่ท่านมีความประสงค์จะเข้าร่วมโครงการ Work from home <br> 
            &nbsp; &nbsp;ท่านจะต้องเข้าร่วมภายใต้เงื่อนไขประเภท กลุ่มแยกตัวเอง 14 วัน <br> 
            &nbsp; &nbsp;เท่านั้น โดยสามารถยื่นความประสงค์ในการเข้าร่วมโครงการ <br> 
            &nbsp; &nbsp;ผ่านทางระบบ PEA COVID-19 ทั้งนี้ขึ้นอยู่กับดุลยพินิจของผู้บังคับบัญชา <br> 
            &nbsp; &nbsp;ของท่านด้วย <br>
            3. หากมีการตรวจสอบพบว่า ท่านไม่ปฏิบัติตามเงื่อนไขข้อตกลงด้านบน <br> 
            &nbsp; &nbsp;ทาง PEA จะมีการพิจารณาบทลงโทษ และมีผลต่อการพิจารณา <br> 
            &nbsp; &nbsp;ประเมินผลงานประจําปีตาม ระเบียบของการไฟฟ้าส่วนภูมิภาคต่อไป
          </h6>
          <hr>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="px-4 py-2 headtc">เงื่อนไขและข้อกําหนด</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="px-4 text-left">1. ท่านจะต้องอยู่ในสถานะพร้อมปฏิบัติงานตลอดเวลาทําการ <br>
              &nbsp; (จันทร์-ศุกร์ ตั้งแต่เวลา 08.30 - 16.30 น. <br>
              &nbsp; พัก เที่ยง 12.00 - 13.00 น.) <br>
              2. ท่านจะต้องอยู่ในสถานะพร้อมประชุมงานหรือติดต่องาน <br>
              &nbsp; ภายในเวลา 30 นาที หรือเมื่อมีการร้องขอ <br>
              3. ท่านจะต้องลงบันทึกเวลาปฏิบัติงานผ่านระบบ PEA <br>
              &nbsp; COVID-19 ให้ผู้บังคับบัญชาต้นสังกัดได้รับทราบทุกวัน <br>
              &nbsp; (เข้างานภายใน เวลา 08.30 น. และออกงานเวลา เวลา 16.30 น.) <br>
              &nbsp; &nbsp; &nbsp; โดยระบบจะเปิดให้ท่านสามารถเข้ามาลงบันทึกเวลา <br>
              &nbsp; ปฏิบัติงานได้ 2 ช่วงเวลา ดังนี้ <br>
              &nbsp; ลงเวลาเข้างานได้ตั้งแต่ 07.00 - 09.00 น. และ <br>
              &nbsp; ลงเวลาออกงานได้ตั้งแต่ 16.30 - 24.00 น. <br>
              4. หากท่านไม่ลงบันทึกเวลาปฏิบัติงานตามช่วงระยะเวลาที่ <br>
              &nbsp; กําหนดไว้ข้างต้น ระบบจะบันทึกว่าเป็น “การลา” <br>
              &nbsp; โดย อัตโนมัติ และต้องชี้แจงเหตุผลการไม่ลงบันทึกเวลา <br>
              &nbsp; ปฏิบัติงานต่อผู้บังคับบัญชาต้นสังกัดต่อไป <br>
              5. หากท่านมีความประสงค์ที่จะ "ลาป่วย, ลากิจ หรือลาพัก ร้อน" <br>
              &nbsp; ให้แจ้งผู้บังคับบัญชาต้นสังกัดตามช่องทางที่ได้มี การตกลงกันไว้ <br>
              6. ระบบจะรายงานเวลาปฏิบัติงานให้ผู้บังคับบัญชาต้น <br>
              &nbsp; สังกัดของท่านรับทราบทุกวัน <br>
              7. ท่านจะต้องทํารายงาน Daily Health Update <br>
              &nbsp; ผ่าน PEA COVID-19 เป็นประจําทุกวัน <br>
              8. ขอความร่วมมือให้ท่านหลีกเลี่ยงการสัมผัส, ใกล้ชิด <br>
              &nbsp; กับบุคคลที่มีความเสี่ยงต่อโรค COVID-19 <br>
              &nbsp; หรือเดินทางไป ในพื้นที่เสี่ยง <br>
              9. หากมีการตรวจสอบพบว่า ท่านไม่ปฏิบัติตามเงื่อนไข <br>
              &nbsp; ข้อตกลงดังกล่าว ทาง PEA จะมีการพิจารณาบทลงโทษ <br>
              &nbsp; และมีผลต่อการพิจารณาประเมินผลงานประจําปี <br>
              &nbsp; ตามระเบียบของการไฟฟ้าส่วนภูมิภาคต่อไป
            </h6>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <form method="POST">
    {% csrf_token %}
    <div class="pt-3 pb-5">
      <div class="px-5 container">
        <div class="row">
          <div class="col-12 text-center"><input id="submit" class="w-100 btn" type="submit" value=" ยอมรับและพร้อมปฏิบัติตามอย่างเคร่งครัด"></div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

{% endblock %}