<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'summarylist/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'summarylist/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


{{ data }}




<!--===============================================================================================-->
	<script src="{% static 'summarylist/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
{#	<script src="{% static 'summarylist/vendor/bootstrap/js/popper.js' %}"></script>#}
{#	<script src="{% static 'summarylist/vendor/bootstrap/js/bootstrap.min.js' %}"></script>#}
    <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!--===============================================================================================-->
	<script src="{% static 'summarylist/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'summarylist/js/main.js' %}"></script>

</body>
</html>