<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'summarylist/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  'summarylist/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'summarylist/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
        <div class="pt-4" style="text-align: center; font-family: Kanit-Regular; background-color: #c4d3f6">
    <h2 class="py-2" style="font-family: Kanit-SemiBold">ใบเซ็นชื่อ</h2>
    <h4 class="py-2">ประจำวันที่ {{ date_data }}</h4>
    <h5>ผู้บังคัญบัญชา {{ director }} ตำแหน่ง {{ position_dir }}</h5>
</div>
		<div class="pt-0 container-table100">
			<div class="wrap-table100">
					<div class="table">
						<div class="row header">
							<div class="cell">
								#
							</div>
							<div class="cell">
								ชื่อ-นามสกุล
							</div>
							<div class="cell">
								สังกัด
							</div>
							<div class="cell">
								เวลาเข้างาน
							</div>
							<div class="cell">
								เวลาเลิกงาน
							</div>
							<div class="cell">
								ความเสี่ยง
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								1
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ควรพบแพทย์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								2
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								แยกตัวเอง
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								3
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								4
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								5
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								6
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								7
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								8
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								9
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="#">
								10
							</div>
							<div class="cell" data-title="ชื่อ-นามสกุล">
								อรรถพล วัฒนสาครกุล
							</div>
							<div class="cell" data-title="สังกัด">
								ผวจ. กวจ. ฝวพ.
							</div>
							<div class="cell" data-title="เวลาเข้างาน">
								07:30:45
							</div>
							<div class="cell" data-title="เวลาเลิกงาน">
								16:45:00
							</div>
							<div class="cell" data-title="ความเสี่ยง">
								ไม่เข้าเกณฑ์
							</div>
						</div>

					</div>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static 'summarylist/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
{#	<script src="{% static 'summarylist/vendor/bootstrap/js/popper.js' %}"></script>#}
{#	<script src="{% static 'summarylist/vendor/bootstrap/js/bootstrap.min.js' %}"></script>#}
    <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!--===============================================================================================-->
	<script src="{% static 'summarylist/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'summarylist/js/main.js' %}"></script>

</body>
</html>