{% extends 'base.html' %}
{% load static %}

{% block title_bl %} Timestamp | ระบบลงเวลาเข้า - ออกงาน{% endblock %}
{% block body_bl %}
<div class="py-5 timestampbg">
    <div class="py-4 container">
        <div class="row">
            <div class="col-12">
                <h1> &nbsp; </h1>
                <h1> &nbsp; </h1>
            </div>
        </div>
    </div>
</div>
<div class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3><font color="#f13f3f">ขออภัยระบบยังไม่เปิด</font></h3>
                <h3><font color="#f13f3f">ให้ลงเวลาเข้า-ออกงาน</font></h3>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="redtextsemibold">โปรดเข้ามาลงเวลาอีกครั้งในเวลาที่กำหนด</h6>
            </div>
        </div>
    </div>
</div>
<div class="py-1">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h6 class="">*ระบบเปิดให้ลงเวลา<font color="#25d895">เข้างาน</font>
              </h6>
              <h6>ตั้งแต่เวลา 7:00น.- 8:30 น.</h6>
          </div>
      </div>
  </div>
</div>
<div class="pt-4 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="">*ระบบเปิดให้ลงเวลา<font color="#cd87eb">เลิกงาน</font>
                </h6>
                <h6>ตั้งแต่เวลา 16:30 น. - 24:00 น.</h6>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

{% endblock %}