{% extends 'base.html' %}
{% load static %}

{% block title_bl %} wfh1-3{% endblock %}
{% block body_bl %}

  <div class="px-0 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="px-0 py-3" id="headerbg">
            <h4 class="py-3 text-center">1 / 3<br>คุณเลือกปฏิบัติงาน<br></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="py-2 display-4 text-center">ที่สำนักงาน</h1>
          <h2 class="py-0 text-center">( Work from home )</h2>
          <br>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="px-4 py-2 headtc">รายละเอียดและเงื่อนไข</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="text-left"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            พนักงานที่มีความประสงค์เข้าร่วมโครงการ Work <br> &nbsp; &nbsp; from home จะต้องปฏิบัติตามเงื่อนไขตามที่ PEA
            กําหนด <br> &nbsp; &nbsp; อย่างเคร่งครัดดังต่อไปนี้
          </h6>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="px-4 py-2 headtc">สิ่งที่ต้องมี</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 class="px-4 text-left">1. ข้อมูลสําคัญที่ใช้ในการปฏิบัติงานของแต่ละหน่วยงาน <br>
            2. คอมพิวเตอร์ส่วนตัว/แท็บเล็ต (PC/Notebook/Tablet) <br>
            &nbsp; &nbsp;พร้อมโปรแกรมพื้นฐานที่จําเป็นต้องใช้งาน <br>
            3. สามารถติดตั้งและพร้อมใช้งานระบบ VPN เพื่อเข้าถึง <br>
            &nbsp; &nbsp;ระบบงานของ PEA ได้ (SAP, GIS, TAMS, BPM และ <br>
            &nbsp; &nbsp;อื่น ๆ) <br>
            4. ระบบสื่อสารและระบบสารสนเทศพื้นฐานที่จําเป็นต้องใช้ <br>
            &nbsp; &nbsp;ปฏิบัติงานเช่นระบบ UC ในโทรศัพท์มือถือ/แท็บเล็ต <br>
            5. เพื่อประชุม และ Video Conference <br>
            6. มีอินเตอร์เน็ตพร้อมใช้สําหรับการทํางาน
          </h6>
          <hr>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="px-4 py-2 headtc">เงื่อนไขและข้อกําหนด</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h6 class="px-4 text-left">1. ท่านจะต้องอยู่ในสถานะพร้อมปฏิบัติงานตลอดเวลาทําการ <br>
              &nbsp; (จันทร์-ศุกร์ ตั้งแต่เวลา 08.30 - 16.30 น. <br>
              &nbsp; พัก เที่ยง 12.00 - 13.00 น.) <br>
              2. ท่านจะต้องอยู่ในสถานะพร้อมประชุมงานหรือติดต่องาน <br>
              &nbsp; ภายในเวลา 30 นาที หรือเมื่อมีการร้องขอ <br>
              3. ท่านจะต้องลงบันทึกเวลาปฏิบัติงานผ่านระบบ PEA <br>
              &nbsp; COVID-19 ให้ผู้บังคับบัญชาต้นสังกัดได้รับทราบทุกวัน <br>
              &nbsp; (เข้างานภายใน เวลา 08.30 น. และออกงานเวลา เวลา 16.30 น.) <br>
              &nbsp; &nbsp; &nbsp; โดยระบบจะเปิดให้ท่านสามารถเข้ามาลงบันทึกเวลา <br>
              &nbsp; ปฏิบัติงานได้ 2 ช่วงเวลา ดังนี้ <br>
              &nbsp; ลงเวลาเข้างานได้ตั้งแต่ 07.00 - 09.00 น. และ <br>
              &nbsp; ลงเวลาออกงานได้ตั้งแต่ 16.30 - 24.00 น. <br>
              4. หากท่านไม่ลงบันทึกเวลาปฏิบัติงานตามช่วงระยะเวลาที่ <br>
              &nbsp; กําหนดไว้ข้างต้น ระบบจะบันทึกว่าเป็น “การลา” <br>
              &nbsp; โดย อัตโนมัติ และต้องชี้แจงเหตุผลการไม่ลงบันทึกเวลา <br>
              &nbsp; ปฏิบัติงานต่อผู้บังคับบัญชาต้นสังกัดต่อไป <br>
              5. หากท่านมีความประสงค์ที่จะ "ลาป่วย, ลากิจ หรือลาพัก ร้อน" <br>
              &nbsp; ให้แจ้งผู้บังคับบัญชาต้นสังกัดตามช่องทางที่ได้มี การตกลงกันไว้ <br>
              6. ระบบจะรายงานเวลาปฏิบัติงานให้ผู้บังคับบัญชาต้น <br>
              &nbsp; สังกัดของท่านรับทราบทุกวัน <br>
              7. ท่านจะต้องทํารายงาน Daily Health Update <br>
              &nbsp; ผ่าน PEA COVID-19 เป็นประจําทุกวัน <br>
              8. ขอความร่วมมือให้ท่านหลีกเลี่ยงการสัมผัส, ใกล้ชิด <br>
              &nbsp; กับบุคคลที่มีความเสี่ยงต่อโรค COVID-19 <br>
              &nbsp; หรือเดินทางไป ในพื้นที่เสี่ยง <br>
              9. หากมีการตรวจสอบพบว่า ท่านไม่ปฏิบัติตามเงื่อนไข <br>
              &nbsp; ข้อตกลงดังกล่าว ทาง PEA จะมีการพิจารณาบทลงโทษ <br>
              &nbsp; และมีผลต่อการพิจารณาประเมินผลงานประจําปี <br>
              &nbsp; ตามระเบียบของการไฟฟ้าส่วนภูมิภาคต่อไป
            </h6>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <form method="POST">
    {% csrf_token %}
    <div class="pt-3 pb-5">
      <div class="px-5 container">
        <div class="row">
          <div class="col-12 text-center"><input id="submit" class="w-100 btn" type="submit" value=" ยอมรับและพร้อมปฏิบัติตามอย่างเคร่งครัด"></div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

{% endblock %}