{% extends 'base.html' %}
{% load static %}

{% block title_bl %} wfh3-3{% endblock %}
{% block body_bl %}
 
  <div class="px-0 py-1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="px-0 py-3" id="headerbg">
            <h4 class="py-3 text-center">3 / 3<br>คุณเลือกปฏิบัติงาน<br></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="py-2 display-4 text-center">ทํางานที่บ้าน</h1>
          <h2 class="py-0 text-center">( Work from home )</h2>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="px-3 text-left"> &nbsp; &nbsp; &nbsp;คุณได้เข้าร่วมโครงการ Work from home <br> สําหรับผู้ที่ไม่เข้าเกณฑ์หรือไม่มีความเสี่ยง </h5>
        </div>
      </div>
      <form method="POST">
    {% csrf_token %}
      <div class="py-2 row">
        <div class="col-6">
          <h4 class="px-2 text-center"> ตั้งแต่วันที่ </h4>
        </div>
        <div class="col-6">
          <h4 class="px-1 mx-4 text-left"><font color="#7248C8">25 มีนาคม 2563</font></h4>
        </div>
      </div>
      <div class="py-1 row">
        <div class="col-6">
          <h4 class="px-2 text-center"> ถึงวันที่ </h4>
        </div>
        <div class="col-6">
          <h4 class="px-1 mx-4 text-left"><font color="#7248C8">1 เมษายน 2563</font></h4>
        </div>
      </div>
      <div class="py-1 row">
        <div class="col-6">
          <h4 class="px-2 text-center"> เป็นเวลา </h4>
        </div>
        <div class="col-6">
          <h4 class="px-1 mx-4 text-left"><font color="#7248C8">8</font> วัน</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="px-4 py-2"> &nbsp; &nbsp; &nbsp; *อย่าลืมลงเวลาเข้า-ออกงาน และอัพเดทข้อมูลสุขภาพ ประจําวันผ่านทมง LINE official Account PEA COVID-19 ทุกวันนะคะ</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="remark">*การอนุมัติเป็นดุลยพินิจของผู้บังคับบัญชาต้นสังกัด</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4 pb-5">
    <div class="px-5 container">
      <div class="row">
        <div class="col-6 text-center"><input id="submit" class="w-75 btn" type="submit" value="ยืนยัน"></div>
        <div class="col-6 text-center"><input id="edit" class="w-75 btn" type="button" value="กลับไปแก้ไข"></div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

{% endblock %}